# Flask
SECRET_KEY=replace-with-generated-secret-key
JWT_SECRET_KEY=replace-with-generated-jwt-secret-key

# Database
# Local development without Docker:
# DATABASE_URL=mysql+pymysql://root:1234@localhost:3306/quiz_users_db

# Docker development:
DATABASE_URL=mysql+pymysql://root:1234@users_db:3306/quiz_users_db



# Mailjet
MAILJET_API_KEY=replace-with-mailjet-api-key
MAILJET_SECRET_KEY=replace-with-mailjet-secret-key
MAILJET_FROM_EMAIL=replace-with-verified-sender-email
MAILJET_FROM_NAME=Quiz Platform
MAILJET_URL=https://api.mailjet.com/v3.1/send

# Cloudinary
CLOUDINARY_CLOUD_NAME=replace-with-cloudinary-cloud-name
CLOUDINARY_API_KEY=replace-with-cloudinary-api-key
CLOUDINARY_API_SECRET=replace-with-cloudinary-api-secret

# Quiz Service
# Local development without Docker:
# QUIZ_SERVICE_BASE_URL=http://localhost:8001

# Docker development:
QUIZ_SERVICE_BASE_URL=http://quizservice:8001