# Flask
SECRET_KEY=replace-with-generated-secret-key
JWT_SECRET_KEY=replace-with-generated-jwt-secret-key

# Database
# Local development without Docker:
# DATABASE_URL=mysql+pymysql://quiz_app_user:replace-with-quiz-db-password@localhost:3306/quiz_db

# Docker development:
DATABASE_URL=mysql+pymysql://quiz_app_user:replace-with-quiz-db-password@quiz_db:3306/quiz_db


# Main Server
# Local development without Docker:
# SERVER_URL=http://localhost:8000

# Docker development:
SERVER_URL=http://server:8000

# Internal Service Auth
INTERNAL_SERVICE_SECRET=replace-with-generated-internal-service-secret

# Mailjet
MAILJET_API_KEY=replace-with-mailjet-api-key
MAILJET_SECRET_KEY=replace-with-mailjet-secret-key
MAILJET_FROM_EMAIL=replace-with-verified-sender-email
MAILJET_FROM_NAME=Quiz Platform
MAILJET_URL=https://api.mailjet.com/v3.1/send

# Data retention
QUIZ_ATTEMPT_RETENTION_DAYS=730
ENABLE_RETENTION_JOBS=false